@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  background-color: #e5e5e5;
  font-family: "Roboto", sans-serif;
}

ion-icon {
  width: 20px;
}

.topo {
  border-bottom: 1px solid #dbdbdb;
  background-color: white;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.container-topo {
  height: 54px;
  width: 935px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile {
  display: none;
}

.logo {
  width: 150px;
  height: 54px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo > img {
  width: 103px;
}

.separador {
  height: 22px;
  background-color: #dbdbdb;
  width: 1px;
}

.busca {
  width: 235px;
  height: 54px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.busca > input {
  width: 215px;
  height: 28px;
  background-color: #fafafa;
  color: #dbdbdb;
  border: 1px solid #dbdbdb;
}

.busca > input::placeholder {
  color: #dbdbdb;
  text-align: center;
}

.botoes {
  width: 100px;
  height: 54px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  width: 935px;
  margin: 0 auto;
  margin-top: 88px;

  display: flex;
}

.conteudo-princial {
  width: 614px;
}

.stories {
  background-color: white;
  border: 1px solid #dbdbdb;
  width: 100%;
  height: 118px;

  display: flex;

  overflow: hidden;

  position: relative;
}

.stories ion-icon {
  color: white;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  width: 26px;
  height: 26px;
  position: absolute;
  top: 48px;
  right: 5px;
}

.stories > div {
  width: 66px;
  margin: 0 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.story {
  width: 66px;
  height: 66px;
  background-image: url("../assets/img/stories_background.jpg");
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}

.feeds {
  width: 100%;
  margin-top: 24px;
}

.feed {
  background-color: white;
  width: 100%;
  height: 749px;
  margin-bottom: 60px;
  border: 1px solid #dbdbdb;
}

.topo-feed {
  width: 100%;
  height: 52px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topo-feed > div {
  width: 151px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.topo-feed img {
  width: 32px;
  height: 32px;
}

.feed > img {
  width: 100%;
}

.rodape-feed {
  width: 100%;
  height: 85px;
}

.feed-botoes {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feed-botoes > div {
  width: 100px;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feed-curtidas {
  display: flex;
  margin-top: 10px;
}

.feed-curtidas img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.feed-curtidas span {
  color: black;
  font-weight: bold;
}

.feed-curtidas p {
  color: #979797;
}

.sidebar {
  width: 321px;
  height: 200px;
}

.div-profile {
  margin-top: 15px;
  display: flex;
}

.div-profile > div {
  margin-left: 10px;
}

.div-profile p {
  font-size: 14px;
  line-height: 17px;
}

.div-profile div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-username {
  font-weight: 500;
  color: #262626;
}

.profile-name {
  font-weight: 300;
  color: #706565;
}

.cab-lista-sugestoes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.cab-lista-sugestoes p {
  font-weight: 500;
  font-size: 12px;
}

.cab-lista-sugestoes p:nth-child(1) {
  color: #8e8e8e;
}

.cab-lista-sugestoes p:nth-child(2) {
  color: #262626;
}

.sugestao {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sugestao-profile {
  display: flex;
  align-items: center;
  margin: 10px;
}

.sugestao-profile img {
  width: 32px;
  height: 32px;
}

.sugestao-profile div:nth-child(2) {
  margin-left: 10px;
}

.sugestao-profile-username {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #262626;
}

.segue-voce {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #8e8e8e;
}

.seguir {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #139ef2;
}

.info-sobre-intagram p {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #c7c7c7;
  margin: 10px;
}

@media (max-width: 935px) {
  .container-topo,
  .container {
    width: 100%;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sidebar {
    display: none;
  }
}

@media (max-width: 614px) {
  .mobile {
    display: flex;
  }

  .desktop {
    display: none;
  }

  .stories {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #e5e5e5;
  }

  .stories ion-icon {
    display: none;
  }

  .stories > div {
    width: 100%;
  }

  .story {
    border-radius: 50%;
  }

  .story img {
    width: 100%;
  }
}
